[Unit]
Description=Run Kimai Timesheet Extraction Daily
Requires=kimai-extract.service

[Timer]
# Run daily at 10:00 AM
OnCalendar=daily
OnCalendar=*-*-* 10:00:00
Persistent=true

[Install]
WantedBy=timers.target